<app-header></app-header>

<div class="card">
  <div class="card__body">
    <div class="card__top">
      <div class="card__message">
        <div class="message" *ngFor="let message of listMessage; index as i">
          <div class="client" *ngIf="listMessage[i].id == 0">
            <span class="client__date">{{ message.date | date: 'dd/MMM/yyyy HH:mm:ss' }} </span>
            <p class="client__message">{{ message.message }}</p>
          </div>
          <div class="service" *ngIf="listMessage[i].id == 1">
            <span class="service__date">{{ message.date | date: 'dd/MMM/yyyy HH:mm:ss' }} </span>
            <p class="service__message"> Client : {{ message.message }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card__bottom">
      <div class="chat">
        <input type = "text" #content placeholder="Entrez votre message">
      </div>
      <div class="sendMsg">
      <button class="sendBtn" (click)="sendMessage(content.value)">Envoyer</button>
  </div>
</div>
</div>
</div>
